@if (loading) {
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@if (watchlist.length >0) {
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Registration</th>
                <th scope="col">Sale Price</th>
                <th scope="col">Price Alert</th>
                <th scope="col">Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (item of watchlist; track item.plateId) {
                <tr scope="row">
                    <td>{{ item.plate?.registration || '-' }}</td>
                    <td>£{{ item.plate?.salePrice }}</td>
                    <td>{{ (item.priceAlert | number:'1.2-2') ?? '-' }}</td>
                    <td>{{ item.createdDate | date }}</td>
                    <td>
                    <button>Remove</button>
                    </td>
                </tr>
            }
        </tbody>
  </table>
}

@if (watchlist.length === 0 && !loading) {
    <p>Your watchlist is empty.</p>
}